.builder {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  width: 30vw;
}
.builder h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.personal,
.professional,
.education,
.projects,
.skills {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px 20px 20px;
  flex: 1;
}

.builder .delete-btn {
  background-color: #dc3545;
}
